
Projetos/Project/Tasty.csv
Projetos/Shark Attack (Clean Data)/Data/attacks.csv
Projetos/ETL Tasty/Tasty.csv
Projetos/ETL Tasty/Keys/Key_Tasty.txt
Projetos/ETL Tasty/Tasty_recepies.csv
Projetos/ETL Tasty/recipes.csv
Projetos/ETL Tasty/ratings.csv
Projetos/ETL Tasty/nutrition.csv
Projetos/ETL Tasty/measurements.csv
Projetos/ETL Tasty/ingredientsquantitymeasurments.csv
Projetos/ETL Tasty/country.csv
Projetos/ETL Tasty/ingredients.csv
Projetos/ETL Tasty/tastyPowerBI.pbix
Projetos/ETL Tasty/tags.csv
Projetos/ETL Tasty/Keys/spoonacular_Key.txt
Projetos/ETL Tasty/Keys/spoonacular_Key.txt
Projetos/ETL Tasty/recepie_tags
